body {
	background-image: url(images/vague.jpg);
	background-size: cover;
	color: rgb(20,20,20);
	font-family: 'Montserrat';
	font-size: 17px;
}
h1, h2, a{
	font-family: 'Simonetta';
}
h1{
	color: #1eb2a6;
	font-weight: 900;
	letter-spacing: 10px;
	font-size: 45px;
	
}
h2{
	color: rgb(100,100,100);
	font-size: 24px;
	font-weight: 300;
}
a{
	text-decoration: none;
	color: blue;
}
a:hover{
	color: purple;
}

h3{
	font-family: Sen;
	font-size: 30px;
}

img{
    border-radius: 50%;
    width: 200px;
}

.card-white{
	background: #f1f9f9;
	padding: 40px;
	margin: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
}

.container{
	width: 700px;
	margin: 40px auto;
}

.btn-color{
	text-decoration: none;
	background-color: #a1e6e3;
	color: grey;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-color:hover {
	background-color: #a8d3da;
	color: grey;
}

.followme-color:{
	color: purple
}

.followme-color:hover{
	color: #a8d3da;
}

.img-square{
	width: 150px;
	border-radius: 0px;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px.
}

.list-inline i{
	width: 40px;
	font-size: 30px;
}

#intro p{
	margin-bottom: 35px;
}

@media (max-width: 760px){
	.container{ width: 600px }
}

@media (max-width: 500px){
	.container{width: 400px}
}

